* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #4A5A61;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    display: flex;
    align-items: flex-start;
    background-color: #F5F7FA;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Căn giữa hình ảnh và nút theo chiều ngang */
    margin-right: 20px;
    /* giãn cách dữa các elements */
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    /* Khoảng cách giữa hình ảnh và nút Facebook */
}

.Facebook-button {
    background-color: #3b5998;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    /* Thêm khoảng cách dưới nút Facebook */
}

.profile-info {
    width: 300px;
}

.profile-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #E9EEF2;
}